.item {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-top: -5%;
  
  
  

    
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family:'Impact';
    color: #19036E;
    font-size: 36;
  }
  .top-left {
    position: absolute;
    top: 40%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-family:'Comic Sans MS';
    font-size: 24;
    color: #F30719;
  }
  .search-wrapper {
    position: absolute;
    align-items: center;
    top: 47%;
    left: 25%;
    padding: 15px;
    font-size: 24px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .search-wrapper input {
    width: 125%;
    height:46%;
  }
  .container .btn {
    position: absolute;
    top: 47%;
    left: 46%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#E9E8E8;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    width: 9%;
    height:5%;
    
  }
  .container .btn:hover {
    background-color: #E9E8E8;
  }
.container.browser-default .custom-select
{
  position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#E9E8E8;
    color: black;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 12%;
    height:5%;
  top:70%;
  left:58%;
  

}
 

    .container1.btn .btn-link
  {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 60%;
    left: 55%;
    background-color:#E9E8E8;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 9%;
    height:5%;

  }